#enviarBtn, #calcularBtn {
    background-color: rgb(91, 63, 10);;
    border-radius: 10px;
    height: 3rem;
    width: 6rem;
    font-weight: bold;
    font-size: larger;   
    color: aliceblue;
    margin-top: 2rem;
}

#inputBox{
    justify-self: center;
    margin-top: 1rem;
}

body{
    background-color: antiquewhite;
    align-content: center;
    margin: 10rem;
}

.table{
    margin-top: 2rem;
}

p{
    margin-top: 2rem;
}